<div id="resultados">
  <div class="container">
      <div class="row main">
        <div class="col-sm-10 offset-sm-1">

          <div class="questions">
            
              <div class="question clearfix">

                <% if question.voted_by? current_user %>
                  <%= link_to question_vote_path(question), method: :delete, class: "question-upvote upvote-active" do %>
                    <span class="upvote-arrow"></span>
                    <span class="upvote-count"><%= question.votes.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to question_vote_path(question), method: :post, class: "question-upvote" do %>
                    <span class="upvote-arrow"></span>
                    <span class="upvote-count"><%= question.votes.count %></span>
                  <% end %>
                <% end %>

                <div class="question-details">
                  <span class="question-title"><%= link_to question.title, question %></span>
                  <small>Asked by ____ on <%= question.created_at.strftime('%-b %-d, %Y')%></small>
                  <span class="question-description"><%= markdown question.description.truncate(50) %></span>
                </div>
                <div class="question-comments">
                  <span class="fas fa-comment-alt"></span>
                  <span class="comment-count"><%= question.comments.count %></span>
                </div>
              </div>

              <hr>

          </div>

        </div>
      </div>
    </div>
</div>