<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Questions</h1>
			<div class="text-right">
				<%= link_to 'Ask Question', new_question_path, class: 'btn btn-primary' %>
			</div>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Description</th>
					<th></th>
				</tr>
				<% @questions.each do |question| %>
					<tr>
						<td><%= question.id %></td>
						<td><%= link_to question.title, question %></td>
						<td><%= question.description %></td>
						<td>
							<%= link_to 'Edit', edit_question_path(question) %>
							<%= link_to 'Remove', question, method: :delete, data: { confirm: "Are you sure?" } %>							
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>